<section layout-padding class="margin-bottom">
<h2>About</h2>
<div class="md-whiteframe-1dp margin-bottom" layout-padding>
<p>Fablabs.ch is promoting the MIT concept of Fab Labs in the geographical territory of Switzerland.</p>

<p>It provides a central location to see activities of swiss fab labs by aggregating their public social network feeds.</p>

<md-button href="https://docs.google.com/forms/d/1tPK7CAc_udVFaZOikjJVoXztbVOJ_-vZfB-Ymq2u8qw/viewform" target="_blank">Contact Swiss Fablabs.ch</md-button>

<p>The concept is described in the <a href="http://fab.cba.mit.edu/about/charter/">Fab Charter</a>, copied below:</p>
</div>

<h2>The Fab Charter</h2>

<div class="md-whiteframe-1dp" layout-padding>
<dl>
<dt>What is a fab lab?</dt>
<dd>Fab labs are a global network of local labs, enabling invention by providing access to tools for digital fabrication</dd>

<dt>What’s in a fab lab?</dt>
<dd>Fab labs share an evolving inventory of core capabilities to make (almost) anything, allowing people and projects to be shared</dd>

<dt>What does the fab lab network provide?</dt>
<dd>Operational, educational, technical, financial, and logistical assistance beyond what’s available within one lab

<dt>Who can use a fab lab?</dt>
<dd>Fab labs are available as a community resource, offering open access for individuals as well as scheduled access for programs</dd>

<dt>What are your responsibilities?</dt>
<dd>safety: not hurting people or machines<br/>
operations: assisting with cleaning, maintaining, and improving the lab<br/>
knowledge: contributing to documentation and instruction</dd>

<dt>Who owns fab lab inventions?</dt>
<dd>Designs and processes developed in fab labs can be protected and sold however an inventor chooses, but should remain available for individuals to use and learn from</dd>

<dt>How can businesses use a fab lab?</dt>
<dd>Commercial activities can be prototyped and incubated in a fab lab, but they must not conflict with other uses, they should grow beyond rather than within the lab, and they are expected to benefit the inventors, labs, and networks that contribute to their success</dl>
</div>
</section>