<space-filter></space-filter>
<div layout-padding>
    <section>
    <md-tabs md-stretch-tabs="always" md-selected="events.mode">
        <md-tab>Past</md-tab>
        <md-tab>Future</md-tab>
    </md-tabs>
    </section>
    <section masonry preserve-order reload-on-resize layout="row" class="news" layout-align="center start" layout-wrap>
<md-card class="masonry-brick news-card"  ng-repeat="e in events.events| filter: events.inFilter  track by e.uid ">
    <md-card-header>
        <md-card-avatar>
            <a href="#/space/{{e.space.slug}}"><img class="md-user-avatar" ng-src="{{e.space.logo}}" /></a>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{e.space.name}}</span>
            <span class="md-subhead">
                <span>{{e.startdate|date:'d MMM'}}</span>
                <span ng-if="e.hasStartDateTime">{{e.startdate|date:'HH:mm'}}</span>
                <span ng-if="e.hasEndDateDifferent || e.hasEndDateTime">-</span>
                <span ng-if="e.hasEndDateDifferent">{{e.enddate|date:'d MMM'}}</span>
                <span ng-if="e.hasEndDateTime">{{e.enddate|date:'HH:mm'}}</span>
        </md-card-header-text>
    </md-card-header>
    <a ng-href="{{e.link}}">
        <img ng-src="{{e.image_src || e.image}}" class="md-card-image" alt="">
    </a>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline"><a ng-href="{{e.link}}">{{e.summary}}</a></span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-content ng-bind-html="e.description" linkify></md-content>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <div layout="row" layout-wrap><span ng-repeat="tag in e.tags" class="tag">{{tag}}</span></div>
        <span flex></span>
        <md-button ng-if="e.link" class="md-primary" target="_blank" ng-href="{{e.link}}">Info</md-button>
    </md-card-actions>
</md-card>

