<div layout-padding>
    <section>
        <h2>Capabilities</h2>
        <div class="md-whiteframe-2dp" layout-padding>
            <table class="md-table" >
                <thead>
                    <tr>
                        <th>FabLab</th>
                        <th ng-repeat="cat in machine.categories">{{cat.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="space in machine.spaces">
                        <td>
                            <a class="space-logo" ng-href="#/space/{{space.slug}}"><img alt="logo" ng-src="{{space.logo}}">
                            {{space.name}}</a>
                            </td>
                        <td ng-repeat="cat in machine.categories" class="{{space.machines[cat.type].length && 'yes' || 'no'}}">
                            {{space.noinfo && '???' || space.machines[cat.type].length && 'Yes' || 'No'}}
                            <span ng-if="cat.type == 'laser' && space.machines[cat.type].length">
                                ({{machine.collectAttribute('power', space.machines[cat.type]).join(',')}})
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <small>* Based on machines listed on this page</small>
        </div>
    </section>
<section ng-repeat="cat in machine.categories">
    <h2>{{cat.name}}</h2>
    <div layout-align="start start" layout-wrap layout="row">
        <md-card class="machine-card" ng-repeat="r in machine.machines[cat.type]">
            <md-card-header>
                <md-card-header-text>
                <span class="md-title">{{r.model}}</span>
                <span class="md-subhead">{{r.vendor.name}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="{{r.picture}}" class="md-card-image" alt="{{r.model}}">
            <md-card-content>
                <small>
                <ul class="custom_data">
                    <li ng-repeat="(k, v) in r.custom_data"><b>{{k|formatKey}}:</b> {{v}}</li>
                </ul>
                </small>
                <p>Available at:</p>
                <a class="space-logo" ng-repeat="space in r.spaces" ng-href="#/space/{{space.slug}}"><img alt="logo" ng-src="{{space.logo}}" title="{{space.name}}"></a>
            </md-card-content>
        </md-card>
    </div>
</section>
</div>