// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.angular-google-map-container {
    height: calc(100vh - 70px);
    min-height: 400px;
}

.space {
    padding-top: 150px;
}

.space-map .angular-google-map-container {
    height: 200px;
    min-height: 200px;
}

.space-background{
    background-repeat: no-repeat;
    background-size: 100%;
}
.space-background-fill{
    background-color: #e10707;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.space-info p{
 margin: 0.5em 0;
}

a, .md-button  .md-list-item-inner  {
    color: #e10707;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu {
    height: 64px;
}

.menu a {
    height: 64px;
    line-height: 64px;
}

.menu a.active, .menu a:hover {
    border-bottom: 2px solid #e10707;
}


md-toolbar.header {
    background-color: white;
    color: #e10707;
    border-top: 5px solid #e10707;
    md-icon {
        color: #e10707;
    }
}

section {
    margin: 0 auto;
    max-width: 1044px;
}

table.md-table {
    border-spacing: 0;
    width: 100%;
}

table.md-table th {
    text-align: left;
    color: rgba(0,0,0,.87);
}


table.md-table td
{
    text-align: left;
    color: rgba(0,0,0,.87);
    border-top: 1px rgba(0,0,0,.12) solid;
    padding-right: 80px;
    height: 60px;
}

table.md-table tr:hover td{
    background-color: #eee;
}


table.md-table img {
    vertical-align: middle;
}

h1 {
    color: #e10707;
    margin: 0;
    font-size: 48px;
}

#logo {
    position: relative;
}

#logo img{
    width: 160px;
    height: 160px;
    position: absolute;
    right: 50px;
    top: -80px;
    z-index: 99;
}

.margin-bottom{
    margin-bottom: 20px;
}

dt {
    margin-top: 1em;
    font-weight: bold;
}

dd {
    margin-top: 1em;
}

.machine-card {
    width: 320px;
}

.custom_data{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.map-legend{
    position: absolute;
    width: 200px;
    top: 20px;
    right: 20px;
}

.map-legend p {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

.map-legend p:hover {
    background-color: #eee;
}

.map-legend img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.news-card {
    width: 320px;
}

.news-card .md-user-avatar{
    width: 40px;
    height: 40px;
}

.news-card md-card-header-text {
    position: relative;
}

.news-card md-card-header-text md-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.news-card md-card-content {
    max-height: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news-card .thumbs {
    overflow: hidden;
}

.news-card .thumbs img {
    height: 60px;
}

@media (max-width: 600px) {
  table.md-table td{
      padding-right: 0;
  }

  #logo img {
      width: 100px;
      height: 100px;
      right: 15px;
      top: -90px;
  }
}