<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <style>
        .ng-cloak{
            display: none;
        }
    </style>
  </head>
  <body ng-app="frontendApp" layout="row" layout-fill ng-controller="AppCtrl as app">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <md-sidenav class="ng-cloak md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="header md-whiteframe-1dp">
        <h1 class="md-toolbar-tools">Swiss Fablabs</h1>
      </md-toolbar>
      <md-content>
        <md-list>
            <md-list-item ng-href="#/news" ng-click="app.toggleSidenav()">News</md-list-item>
            <md-list-item ng-href="#/map" ng-click="app.toggleSidenav()">Map</md-list-item>
            <md-list-item ng-href="#/machine" ng-click="app.toggleSidenav()">Machine</md-list-item>
            <md-list-item ng-href="#/about" ng-click="app.toggleSidenav()">About</md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
    <div layout="column" flex layout-fill>
        <md-toolbar class="header md-whiteframe-1dp">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu" ng-click="app.toggleSidenav()">
                    <md-icon md-svg-src="md-menu.svg"></md-icon>
                </md-button>
                <h2>
                    <span>Swiss Fablabs</span>
                </h2>
                <span flex></span>
                <span class="ng-cloak hide show-gt-xs menu">
                    <md-button ng-href="#/news" ng-class="{'active': app.isPath('/news')}">news</md-button>
                    <md-button ng-href="#/map" ng-class="{'active': app.isPath('/map')}">map</md-button>
                    <md-button ng-href="#/machine" ng-class="{'active': app.isPath('/machine')}">machine</md-button>
                    <md-button ng-href="#/about" ng-class="{'active': app.isPath('/about')}">about</md-button>
                </span>
            </div>
        </md-toolbar>
        <md-content flex class="main">
            <div flex ng-view=""></div>
        </md-content>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-74111308-1', 'auto');
ga('require', 'autotrack');
ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
<script async src='scripts/lib/autotrack.js'></script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/news.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/space.js"></script>
        <script src="scripts/controllers/map.js"></script>
        <script src="scripts/controllers/app.js"></script>
        <script src="scripts/controllers/machine.js"></script>
        <script src="scripts/services/api.js"></script>
        <script src="scripts/filters/nl2br.js"></script>
        <!-- endbuild -->
</body>
</html>
